################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ipch
*.tlog
*.db
*.json
*.idb
*.opendb
*.sqlite
